*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


.idea

/build/*
PMPSDKDemo/build/
PMPSDKDemo/pMPSDK/build/
PMPSDKDemo/pMPSDKDemo/build/

**/release/
**/aapt/
**/debug/

PMPSDKDemo/.gradle/

**/*.aar

**/*.dex

**/*.ap_

**/*.apk

